
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.frame-KCH {
  width: 100%;
  height: 133.25rem;
  background-color: #ffffff;

  .depth-0-frame-0-WnZ {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: #fcf9f7;

    .depth-1-frame-0-LHj {
      height: 128.45rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 100%;

      .depth-2-frame-0-n9j {
        margin-bottom: 3.6rem;
        box-sizing: border-box;
        padding: 1.25rem 4rem;
        display: flex;
        flex-shrink: 0;
        width: 100%;
        height: 6.5rem;
        align-items: center;
        border: solid 0.1rem #e5e8ea;

        .depth-4-frame-0-RM7 {
          height: calc(100% - 1.7rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0.875rem 19.884rem 0.825rem 0rem;

          .depth-5-frame-0-Qyj {
            height: 1.6rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1.6rem 0.05rem 0rem;
            width: 1.6rem;
          }
          .health-law-project-4oP {
            letter-spacing: -0.027rem;
            color: #1c110c;
            font-family: Be Vietnam Pro, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.25;
          }
        }
        .depth-3-frame-1-ioP {
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .depth-4-frame-0-CiZ {
            height: calc(100% - 1.9rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0.95rem 3.202rem 0.95rem 0rem;

            .home-pV3 {
              font-family: Be Vietnam Pro, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 3.6031rem;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.5;
              color: #1c110c;
            }
            .appointments-HdX {
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.5;
              color: #1c110c;
              font-family: Be Vietnam Pro, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 3.5859rem;
            }
            .prescriptions-PgZ {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 3.5844rem;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.5;
              color: #1c110c;
              font-family: Be Vietnam Pro, 'Source Sans Pro';
            }
            .reminders-ecV {
              color: #1c110c;
              font-family: Be Vietnam Pro, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 3.5406rem;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.5;
            }
            .assessments-jdw {
              color: #1c110c;
              font-family: Be Vietnam Pro, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.5;
            }
          }
          .depth-4-frame-1-Eqb {
            height: 100%;
            display: flex;
            column-gap: 0.8rem;
            align-items: center;
            flex-shrink: 0;

            .depth-5-frame-0-5LR {
              border-radius: 1.2rem;
              flex-shrink: 0;
              width: 4rem;
              height: 4rem;
              object-fit: contain;
              vertical-align: top;
            }
            .depth-5-frame-1-ygh {
              width: 4rem;
              height: 4rem;
              object-fit: contain;
              vertical-align: top;
              border-radius: 1.2rem;
              flex-shrink: 0;
            }
            .depth-5-frame-2-Vuw {
              width: 4rem;
              height: 4rem;
              object-fit: contain;
              vertical-align: top;
              border-radius: 1.2rem;
              flex-shrink: 0;
            }
            .depth-5-frame-3-BXs {
              border-radius: 1.2rem;
              flex-shrink: 0;
              width: 4rem;
              height: 4rem;
              object-fit: contain;
              vertical-align: top;
            }
            .depth-5-frame-4-57T {
              border-radius: 1.2rem;
              flex-shrink: 0;
              width: 4rem;
              height: 4rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
      }
      .depth-3-frame-0-tqb {
        margin: 0 16rem;
        width: calc(100% - 32rem);
        height: 118.35rem;
        position: relative;
        flex-shrink: 0;

        .depth-6-frame-0-nvy {
          width: 92.8rem;
          background: linear-gradient(90deg, rgba(0, 0, 0, 0.1000000015) 0%, rgba(0, 0, 0, 0.400000006) 100%);
          top: 0;
          background-repeat: no-repeat;
          background-position: center;
          box-sizing: border-box;
          padding: 16.2rem 3.594rem 13rem 6.806rem;
          height: 48rem;
          position: absolute;
          background-image: url('REPLACE_IMAGE:32b950f3a96a53e58e56a0860956bc07beb2d7eb');
          border-radius: 1.2rem;
          left: 1.6rem;
          overflow: hidden;
          background-size: 100% 100%;

          .depth-7-frame-0-6Ay {
            width: 100%;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;

            .depth-9-frame-0-btR {
              margin-bottom: 3.2rem;
              width: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .welcome-to-health-law-project-jUq {
                margin-bottom: 0.8rem;
                font-size: 4.8rem;
                line-height: 1.25;
                color: #ffffff;
                font-family: Be Vietnam Pro, 'Source Sans Pro';
                white-space: nowrap;
                text-align: center;
                font-weight: 900;
                letter-spacing: -0.1584rem;
                flex-shrink: 0;
              }
              .we-provide-high-quality-health-care-services-to-everyone-including-those-who-are-medically-underserved-DQ1 {
                font-family: Be Vietnam Pro, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #ffffff;
              }
            }
            .depth-9-frame-0-5h7 {
              height: 6.4rem;
              background-color: #fcf9f7;
              border-radius: 1.2rem;
              flex-shrink: 0;
              margin: 0 17.2rem;
              width: calc(100% - 34.4rem);
              display: flex;
              align-items: center;
              box-sizing: border-box;
              padding: 0.8rem 0.8rem 0.8rem 1.6rem;

              .depth-10-frame-0-b9f {
                align-items: center;
                flex-shrink: 0;
                margin-right: 1.2297rem;
                height: 100%;
                display: flex;

                .depth-11-frame-0-wUR {
                  width: 2rem;
                  height: 2rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 1.6rem;
                }
                .search-for-a-doctor-specialty-or-condition-5qX {
                  font-family: Be Vietnam Pro, 'Source Sans Pro';
                  flex-shrink: 0;
                  max-width: 24.2rem;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #996b4c;
                }
              }
              .depth-11-frame-0-x8d {
                width: 16.5703rem;
                height: 100%;
                overflow: hidden;
                position: relative;
                background-color: #ed6d11;
                border-radius: 1.2rem;
                flex-shrink: 0;
                box-sizing: border-box;
                padding: 1.2rem 1.97rem 1.2rem 2rem;

                .depth-12-frame-0-5j3 {
                  width: 100%;
                  position: relative;
                  font-size: 1.6rem;
                  color: #fcf9f7;
                  display: flex;
                  overflow: hidden;
                  line-height: 1.5;
                  letter-spacing: 0.024rem;
                  white-space: nowrap;
                  align-items: center;
                  justify-content: center;
                  background-color: #ed6d11;
                  height: 100%;
                  font-weight: 700;
                  font-family: Be Vietnam Pro, 'Source Sans Pro';
                }
              }
            }
          }
        }
        .real-time-availability-zzR {
          position: absolute;
          font-weight: 700;
          line-height: 1.25;
          width: 23.7rem;
          left: 1.6rem;
          top: 51.6rem;
          font-size: 2.2rem;
          letter-spacing: -0.033rem;
          color: #1c110c;
          font-family: Be Vietnam Pro, 'Source Sans Pro';
          white-space: nowrap;
          height: 2.8rem;
        }
        .depth-6-frame-0-tK7 {
          top: 55.55rem;
          align-items: flex-start;
          box-sizing: border-box;
          left: 1.6rem;
          display: flex;
          column-gap: 0.8rem;
          border: solid 0.1rem #e8d8ce;
          width: 92.8rem;
          height: 5.4rem;
          position: absolute;

          .depth-7-frame-0-Bp1 {
            font-family: Be Vietnam Pro, 'Source Sans Pro';
            white-space: nowrap;
            justify-content: center;
            flex-shrink: 0;
            text-align: center;
            line-height: 1.5;
            color: #1c110c;
            letter-spacing: 0.021rem;
            display: flex;
            align-items: center;
            font-size: 1.4rem;
            font-weight: 700;
            box-sizing: border-box;
            width: 22.6rem;
            height: 5.3rem;
            border: solid 0.1rem #e5e8ea;
          }
          .depth-7-frame-1-SE9 {
            height: 5.3rem;
            font-size: 1.4rem;
            align-items: center;
            width: 22.6rem;
            line-height: 1.5;
            white-space: nowrap;
            justify-content: center;
            flex-shrink: 0;
            text-align: center;
            letter-spacing: 0.021rem;
            font-family: Be Vietnam Pro, 'Source Sans Pro';
            box-sizing: border-box;
            font-weight: 700;
            color: #996b4c;
            display: flex;
            border: solid 0.1rem #e5e8ea;
          }
          .depth-7-frame-2-vv1 {
            line-height: 1.5;
            letter-spacing: 0.021rem;
            text-align: center;
            font-size: 1.4rem;
            color: #996b4c;
            width: 22.6rem;
            font-weight: 700;
            display: flex;
            box-sizing: border-box;
            justify-content: center;
            border: solid 0.1rem #e5e8ea;
            flex-shrink: 0;
            height: 5.3rem;
            font-family: Be Vietnam Pro, 'Source Sans Pro';
            white-space: nowrap;
            align-items: center;
          }
          .depth-7-frame-3-9Gy {
            align-items: center;
            width: 22.6rem;
            line-height: 1.5;
            letter-spacing: 0.021rem;
            display: flex;
            text-align: center;
            font-weight: 700;
            justify-content: center;
            border: solid 0.1rem #e5e8ea;
            color: #996b4c;
            font-family: Be Vietnam Pro, 'Source Sans Pro';
            white-space: nowrap;
            box-sizing: border-box;
            flex-shrink: 0;
            height: 5.3rem;
            font-size: 1.4rem;
          }
        }
        .depth-4-frame-3-bPs {
          overflow: hidden;
          display: flex;
          height: 3.2rem;
          left: 1.2rem;
          top: 63.35rem;
          align-items: center;
          width: 75.225rem;
          position: absolute;
          column-gap: 1.2rem;

          .depth-5-frame-0-JZB {
            padding: 0.55rem 0.8rem 0.55rem 1.6rem;
            height: 100%;
            display: flex;
            align-items: center;
            background-color: #f2ede8;
            border-radius: 1.2rem;
            flex-shrink: 0;
            box-sizing: border-box;

            .morning-6am-12pm-qZ7 {
              font-family: Be Vietnam Pro, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 0.7906rem;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.5;
              color: #1c110c;
            }
            .depth-6-frame-1-Zzu {
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 2rem;
            }
          }
          .depth-5-frame-1-hrD {
            padding: 0.55rem 0.8rem 0.55rem 1.6rem;
            height: 100%;
            display: flex;
            align-items: center;
            background-color: #f2ede8;
            border-radius: 1.2rem;
            flex-shrink: 0;
            box-sizing: border-box;

            .afternoon-12pm-6pm-af7 {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 0.7625rem;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.5;
              color: #1c110c;
              font-family: Be Vietnam Pro, 'Source Sans Pro';
            }
            .depth-6-frame-1-X4Z {
              width: 2rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .depth-5-frame-2-4aH {
            background-color: #f2ede8;
            border-radius: 1.2rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.55rem 0.8rem 0.55rem 1.6rem;
            height: 100%;
            display: flex;
            align-items: center;

            .evening-6pm-9pm-b4R {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 0.8109rem;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.5;
              color: #1c110c;
              font-family: Be Vietnam Pro, 'Source Sans Pro';
            }
            .depth-6-frame-1-84M {
              width: 2rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .depth-5-frame-3-SKw {
            display: flex;
            align-items: center;
            background-color: #f2ede8;
            border-radius: 1.2rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.55rem 0.8rem 0.55rem 1.6rem;
            height: 100%;

            .anytime-ah3 {
              line-height: 1.5;
              color: #1c110c;
              font-family: Be Vietnam Pro, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 0.7609rem;
              font-size: 1.4rem;
              font-weight: 500;
            }
            .depth-6-frame-1-69b {
              vertical-align: top;
              flex-shrink: 0;
              width: 2rem;
              height: 2rem;
              object-fit: contain;
            }
          }
        }
        .depth-4-frame-4-p5b {
          height: 49rem;
          position: absolute;
          left: 1.6rem;
          top: 69.35rem;
          display: flex;
          column-gap: 1.2rem;
          align-items: center;
          width: 92.8rem;

          .auto-group-wwbb-6J1 {
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            width: 17.6rem;
            height: 100%;

            .depth-5-frame-0-Ev1 {
              margin-bottom: 2.4rem;
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .depth-7-frame-0-y6u {
                height: 17.6rem;
                object-fit: cover;
                vertical-align: top;
                border-radius: 1.2rem;
                flex-shrink: 0;
                margin-bottom: 1.2rem;
                width: 17.6rem;
              }
              .depth-6-frame-1-Vb3 {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .dr-john-smith-TGy {
                  font-family: Be Vietnam Pro, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 500;
                  line-height: 1.5;
                  color: #1c110c;
                }
                .cardiology-b8H {
                  font-weight: 400;
                  line-height: 1.5;
                  color: #996b4c;
                  font-family: Be Vietnam Pro, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.4rem;
                }
              }
            }
            .depth-5-frame-5-WW9 {
              flex-shrink: 0;
              width: 100%;
              display: flex;
              flex-direction: column;

              .depth-7-frame-0-sbb {
                width: 17.6rem;
                height: 17.6rem;
                object-fit: cover;
                vertical-align: top;
                border-radius: 1.2rem;
                flex-shrink: 0;
                margin-bottom: 1.2rem;
              }
              .depth-6-frame-1-CNy {
                flex-shrink: 0;
                display: flex;
                flex-direction: column;

                .dr-lisa-miller-xd3 {
                  font-size: 1.6rem;
                  font-weight: 500;
                  line-height: 1.5;
                  color: #1c110c;
                  font-family: Be Vietnam Pro, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .oncology-W8m {
                  flex-shrink: 0;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #996b4c;
                  font-family: Be Vietnam Pro, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
            }
          }
          .auto-group-etuj-F6M {
            width: 17.6rem;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .depth-5-frame-1-CXP {
              margin-bottom: 2.4rem;
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .depth-7-frame-0-j1X {
                width: 17.6rem;
                height: 17.6rem;
                object-fit: cover;
                vertical-align: top;
                border-radius: 1.2rem;
                flex-shrink: 0;
                margin-bottom: 1.2rem;
              }
              .depth-6-frame-1-TiD {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .dr-jane-doe-dMo {
                  color: #1c110c;
                  font-family: Be Vietnam Pro, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 500;
                  line-height: 1.5;
                }
                .dermatology-B8R {
                  font-weight: 400;
                  line-height: 1.5;
                  color: #996b4c;
                  font-family: Be Vietnam Pro, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.4rem;
                }
              }
            }
            .depth-5-frame-6-Veu {
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .depth-7-frame-0-s1F {
                margin-bottom: 1.2rem;
                width: 17.6rem;
                height: 17.6rem;
                object-fit: cover;
                vertical-align: top;
                border-radius: 1.2rem;
                flex-shrink: 0;
              }
              .depth-6-frame-1-CpD {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .dr-david-wilson-aAZ {
                  font-size: 1.6rem;
                  font-weight: 500;
                  line-height: 1.5;
                  color: #1c110c;
                  font-family: Be Vietnam Pro, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .orthopedics-th3 {
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #996b4c;
                  font-family: Be Vietnam Pro, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
            }
          }
          .auto-group-numt-Rws {
            flex-direction: column;
            flex-shrink: 0;
            width: 17.6rem;
            height: 100%;
            align-items: center;
            display: flex;

            .depth-5-frame-2-zEH {
              margin-bottom: 2.4rem;
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .depth-7-frame-0-kDT {
                margin-bottom: 1.2rem;
                width: 17.6rem;
                height: 17.6rem;
                object-fit: cover;
                vertical-align: top;
                border-radius: 1.2rem;
                flex-shrink: 0;
              }
              .depth-6-frame-1-tKf {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .dr-richard-johnson-T7s {
                  font-size: 1.6rem;
                  font-weight: 500;
                  line-height: 1.5;
                  color: #1c110c;
                  font-family: Be Vietnam Pro, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .endocrinology-nA9 {
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #996b4c;
                  font-family: Be Vietnam Pro, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
            }
            .depth-5-frame-7-6gd {
              flex-direction: column;
              flex-shrink: 0;
              width: 100%;
              display: flex;

              .depth-7-frame-0-QxD {
                width: 17.6rem;
                height: 17.6rem;
                object-fit: cover;
                vertical-align: top;
                border-radius: 1.2rem;
                flex-shrink: 0;
                margin-bottom: 1.2rem;
              }
              .depth-6-frame-1-YoX {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .dr-jennifer-lee-v9s {
                  font-size: 1.6rem;
                  font-weight: 500;
                  line-height: 1.5;
                  color: #1c110c;
                  font-family: Be Vietnam Pro, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .pediatrics-fNM {
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #996b4c;
                  font-family: Be Vietnam Pro, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
            }
          }
          .auto-group-p5ft-Pp9 {
            flex-shrink: 0;
            width: 17.6rem;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;

            .depth-5-frame-3-KSu {
              margin-bottom: 2.4rem;
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .depth-7-frame-0-szD {
                margin-bottom: 1.2rem;
                width: 17.6rem;
                height: 17.6rem;
                object-fit: cover;
                vertical-align: top;
                border-radius: 1.2rem;
                flex-shrink: 0;
              }
              .depth-6-frame-1-RF3 {
                margin-right: 5.5rem;
                align-items: center;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .dr-sarah-davis-BED {
                  line-height: 1.5;
                  color: #1c110c;
                  font-family: Be Vietnam Pro, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 500;
                }
                .gastroenterology-KbK {
                  font-family: Be Vietnam Pro, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #996b4c;
                }
              }
            }
            .depth-5-frame-8-31X {
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .depth-7-frame-0-B7j {
                width: 17.6rem;
                height: 17.6rem;
                object-fit: cover;
                vertical-align: top;
                border-radius: 1.2rem;
                flex-shrink: 0;
                margin-bottom: 1.2rem;
              }
              .depth-6-frame-1-qTB {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .dr-robert-thompson-oQ1 {
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 500;
                  line-height: 1.5;
                  color: #1c110c;
                  font-family: Be Vietnam Pro, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .pulmonology-MAd {
                  font-weight: 400;
                  line-height: 1.5;
                  color: #996b4c;
                  font-family: Be Vietnam Pro, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.4rem;
                }
              }
            }
          }
          .auto-group-mexm-6P7 {
            width: 17.6rem;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .depth-5-frame-4-453 {
              margin-bottom: 2.4rem;
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .depth-7-frame-0-p4D {
                height: 17.6rem;
                object-fit: cover;
                vertical-align: top;
                border-radius: 1.2rem;
                flex-shrink: 0;
                margin-bottom: 1.2rem;
                width: 17.6rem;
              }
              .depth-6-frame-1-HyP {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .dr-michael-brown-Tcy {
                  line-height: 1.5;
                  color: #1c110c;
                  font-family: Be Vietnam Pro, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 500;
                }
                .neurology-cEy {
                  flex-shrink: 0;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #996b4c;
                  font-family: Be Vietnam Pro, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
            }
            .depth-5-frame-9-A1b {
              flex-direction: column;
              flex-shrink: 0;
              width: 100%;
              display: flex;

              .depth-7-frame-0-7hX {
                width: 17.6rem;
                height: 17.6rem;
                object-fit: cover;
                vertical-align: top;
                border-radius: 1.2rem;
                flex-shrink: 0;
                margin-bottom: 1.2rem;
              }
              .depth-6-frame-1-oaM {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .dr-michelle-garcia-86q {
                  color: #1c110c;
                  font-family: Be Vietnam Pro, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 500;
                  line-height: 1.5;
                }
                .rheumatology-d3b {
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #996b4c;
                  font-family: Be Vietnam Pro, 'Source Sans Pro';
                }
              }
            }
          }
        }
      }
    }
  }
}
